.nav
  width: 100px
  height: calc(100vh - 50px)
  background: #444444
  border-radius: 24px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: sticky
  top: 20px
  &__page
    width: 77px
    height: 77px
    border-radius: 24px
    background: rgba(24, 24, 24, 0.72)
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
  .nav__page + .nav__page
    margin-top: 18px
